<?xml version="1.0"?>


<robot name="firefly_tilt" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find mav_description)/urdf/component_snippets.xacro" />
  <xacro:include filename="$(find mav_description)/urdf/firefly_tilt/firefly_tilt.xacro" />

  <xacro:ros_interface_macro
	  namespace="${namespace}"
		odometry_fixed_frame="NED"
	  motor_size="6" >
	</xacro:ros_interface_macro>
	
  <gazebo>	
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    </plugin>
  </gazebo>
	
	<gazebo>
    <plugin filename="libforce_plugin.so" name="force">
      <debug>1</debug>
      <body_frame>1</body_frame>
      <link_name>base_link</link_name>
      <topic_name>/firefly_tilt/ft</topic_name>
    </plugin>
  </gazebo>


</robot>

