<?xml version="1.0" ?>


<launch>

	<arg name="paused" default="true"/>
	<arg name="use_sim_time" default="true"/>
	<arg name="gui" default="true"/>
	<arg name="headless" default="false"/>
	<arg name="debug" default="false"/>

  <arg name="robot_name" default="kuka_iiwa"/>

	<!-- We resume the logic in empty_world.launch -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="debug" value="$(arg debug)" />
		<arg name="gui" value="$(arg gui)" />
		<arg name="paused" value="$(arg paused)"/>
		<arg name="use_sim_time" value="$(arg use_sim_time)"/>
		<arg name="headless" value="$(arg headless)"/>
	</include>

	<rosparam file="$(find arm_description)/launch/controller.yaml" command="load"/>
	
    <node args="joint_state_controller Rev3_position_controller Rev4_position_controller Rev5_position_controller Rev6_position_controller Rev7_position_controller Rev8_position_controller" 
      name="controller_spawner" output="screen" 
  		pkg="controller_manager" respawn="false" type="spawner"
  />

	<param name="robot_description" command="$(find xacro)/xacro '$(find arm_description)/urdf/aerial_arm.xacro'" />
	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model example -param robot_description         
	 -x 0.0
         -y 0.0 
         -z 0.1"/>
	
</launch>



